*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #EDF3F8;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 165px;
  display: flex;
  /* justify-content: space-between;
  align-items: center;
  z-index: 100; */
}
.linki{
  margin-left: 40px;
}
nav{
  margin-left: 150px;
  margin-top: 10px;
}
.Headerbutton{
  margin-left: auto;
}
a{
  text-decoration: none ;
}
body{
  background-image: url('../../paypal/src/payapi-multi-page-website/starter-code/assets/shared/desktop/bg-pattern-circle.svg') ;
  background-repeat: no-repeat;
  background-position: cover;
  background-position: right -20% top -50%;
  width: 100%;
  overflow: hidden;
}
.infoDiv{ 
  display: flex;
  flex-direction: column;
  margin-top: 24rem;
  width: 546px;
  height: 243px;
  flex-shrink: 0; 
  padding: 40px 165px;
}